{% extends "base.html" %}

{% block styles %}
    <link href="/student_list.css" rel="stylesheet" />
{% endblock %}


{% block page_content %}
<div>
    <table>
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>学院</th>
            <th>学级</th>
            <th>班级</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.stu_sn }}</td>
            <td>{{ item.stu_name }}</td>
            <td>{{ item.stu_sex }}</td>
            <td>{{ item.stu_gender }}</td>
            <td>{{ item.stu_enrolled }}</td>
            <td>{{ item.stu_class }}</td>
           
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}